/*Conteúdo CSS*/

/*TAGs*/

body{
    padding: 0px;
    margin: 0;
    background-color: #050815;
} 

img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 3%;
}

h1{
    font-size: 28px;
    color: #f9f9f9;
    font-family: sans-serif;
}

p{
    font-size: 18px;
    color: silver;
    font-family: sans-serif;
    line-height: 28px;
}

/*header*/

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050815;
    position: fixed;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;

}

nav{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul li{
    list-style: none;
    margin: 5px;
}

nav ul li a{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.subscription{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0063e5;
    color: #f9F9F9;
    width: 171px;
    height: 50px;
    border-radius: 4px;
}

.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9F9F9;
    width: 108px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #f9f9f9;
}


.sign-in:hover{
    color: #050815;
    background-color: #f9f9f9;
    transition: 1s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 85px;
    width: 85px;
}

 /*BANNER*/

 .banner{
    padding: 70px 0 0 0;
 }

 .intro{
    background-image: url(images/Captura\ de\ Tela\ \(57\).png);
    background-size: 100%;
    height: 435px;
}

 /*MANDALORIAN*/
 .mandalorian{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 200px 0 150px 0;
}
 

.img-mandalorian {
    height: 361px;
    width: 452px;
   }

/*GROUPING*/

.agrouping{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.text-g{
    display: block;
    text-align: center;
    font-family: sans-serif;
}

.img-grouping-lineone{
    height: 171px;
    width: 285px;
}

/*KING LION*/
.king-lion{
    display: flex;
    height: 520px;
    align-items: center;
    justify-content: end;
    background-image: url(images/rei-leao.png);
    background-size:100% ;
}

.text-k-l{
    padding: 0 50px 0 0 ;
}

/*RODAPÉ*/

.footer{
    height: 700px;
    background-color: #101521;
}

.disponivel{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 200px 0 0 0 ;

}

.favorites{

}

.elements{
    display: flex;
    justify-content: space-around;
}

.icon{
    text-align: center;
    height: 104px;
    width: 208px;

}